<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">YOUTUBER MATCHING</h1>
    <h2 class="text-white">企業とYOUTUEBRとのマッチングサイト</h2>
    <div class="row">
      <div class="offset-lg-3 col-lg-3">
        <%= link_to '企業の方はこちら', login_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-lg-3">
        <%= link_to 'YOUTUBERの方はこちら', '#',class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>